version: "3.9"

services:
  backend:
    build: ./backend/kcet_backend
    container_name: kcet_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    container_name: kcet_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: kcet_postgres
    environment:
      POSTGRES_DB: kcetdb
      POSTGRES_USER: kcetadmin
      POSTGRES_PASSWORD: kcetpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: kcet_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
